
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- About Start -->
<div class="about wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="{% static 'img/dogs1.png' %}" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header text-center">
                    <p>Learn About Us</p>
                    <h2>Welcome to Petops</h2>
                </div>
                <div class="about-text">
                    <p>
                        We offer quick & easy Marketplace for cats dogs and other pets </p>
                    <p>
                        Petops is created with the ambition to be an ecosystem for pets providing you with the
                        best in class products and services that is proven to keep your best friend happy.
                        We provide a wide range of services right from pet supplies, pet grooming kits to pet spas
                        all in one place.
                    </p>
                    <a class="btn" href="">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


{% endblock %}